{
  "openapi": "3.0.0",
  "info": {
    "title": "Seamless API",
    "description": "[Privacy Policy](https://seamless.ai/policies/privacy-policy)\n        \nIn order to dramatically improve our offerings to customers, Seamless will be introducing a Public API\nwhich can be used to search Companies & Contacts, Enrich Lists, and offer integrations as an Endpoint for our\ncustomers.\n\nThe API is build using [RESTful](https://en.wikipedia.org/wiki/REST) principles and is secured using OAuth 2.0 with the implicit grant flow.\n\n# Authentication\n\n## API Key\n\n### 1. **Register Your Application**\nTo use the Seamless API, you need to register your application to obtain an API key.\nTo create a new API key, go to [Seamless.AI | Settings](https://login.seamless.ai/settings/public-api) > API Key and click the *Create New Connection* button.\nNote: The Public API Connections menu will only appear if your account has access to the Public API.\n\n### 2. **Use the Access Token**\nFor all authenticated API requests, include the API key in the header:\n\n```\nToken: API_KEY\n```\n\n## OAuth 2.0\n\n### 1. **Register Your Application**\n\nBefore integrating, you have to setup your client credentials.\n\nTo create a new API client, go to [Seamless.AI | Settings](https://login.seamless.ai/settings/public-api) > OAuth Connections, and click the *Create New Connection* button.\n\nNote: The Public API Connections menu will only appear if your account has access to the Public API.\n\n- `client_id`\n- `client_secret`\n- `redirect_uri`\n\nYou’ll use these to authenticate and obtain tokens.\n\n---\n\n### 2. **Obtain Authorization Code**\n\nRedirect the user to Seamless.AI's OAuth authorization endpoint:\n\n```\nGET https://login.seamless.ai/oauth/authorize\n```\n\n### Query Parameters:\n\n| Name | Description |\n| --- | --- |\n| `client_id` | Your client ID |\n| `redirect_uri` | The URL users are redirected to |\n| `state` | (Optional) CSRF protection string |\n\n**Example URL**:\n\n```\nGET https://login.seamless.ai/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=https://yourapp.com/callback\n```\n\nOnce the user authenticates, they will be redirected to your `redirect_uri` with a `code` parameter. \nIf your `redirect_uri` contains any query parameters (such as `?foo=bar`), you must URL encode your `redirect_uri` for this step.\n\n---\n\n### 3. **Exchange Code for Access Token**\n\n```\nPOST https://api.seamless.ai/api/client/v1/oauth/accessToken\n```\n\n### Request Body (JSON):\n\n```json\n{\n  \"client_id\": \"YOUR_CLIENT_ID\",\n  \"client_secret\": \"YOUR_CLIENT_SECRET\",\n  \"redirect_uri\": \"https://yourapp.com/callback\",\n  \"grant_type\": \"authorization_code\",\n  \"code\": \"AUTHORIZATION_CODE_FROM_STEP_2\"\n}\n```\n\n### Response:\n\n```json\n{\n  \"access_token\": \"ACCESS_TOKEN\",\n  \"refresh_token\": \"REFRESH_TOKEN\",\n  \"expires_at\": 1712000000\n}\n```\n\n---\n\n### 4. **Use the Access Token**\n\nFor all authenticated API requests, include the token in the header:\n\n```\nAuthorization: Bearer ACCESS_TOKEN\n```\n\n---\n\n### 5. **Refreshing the Token**\n\nTo refresh the access token:\n\n```\nPOST https://api.seamless.ai/api/client/v1/oauth/accessToken\n```\n\n### Request Body:\n\n```json\n{\n  \"client_Id\": \"YOUR_CLIENT_ID\",\n  \"client_secret\": \"YOUR_CLIENT_SECRET\",\n  \"redirect_uri\": \"https://yourapp.com/callback\",\n  \"grant_type\": \"refresh_token\",\n  \"refresh_token\": \"YOUR_REFRESH_TOKEN\"\n}\n```\n\n# Rate Limiting\n\nThe limit is currently around 100 requests per 60 seconds per Endpoint. You will receive a 429 HTTP response if you exceed the rate limit.\n\nRate limit and remaining credits information will be returned in the response header of each request. The parameters are:\n\n| Name | Example | Description |\n| --- | --- | --- |\n| `X-RateLimit-Limit` | 100 | The maximum number of requests you're permitted to make in a given time period. |\n| `X-RateLimit-Remaining` | 55 | The number of requests remaining in the current rate limit window. |\n| `X-RateLimit-Reset` | 1745587198 | The time at which the current rate limit window resets in epoch seconds. |\n| `X-PublicAPI-Credits` | 1000 | The number of credits remaining that can be used in requests. |",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://s3.amazonaws.com/seamless.ai-public/logos/SVG_SeamlessAI_Blue.svg",
      "altText": "Seamless logo",
      "href": "https://login.seamless.ai"
    },
    "termsOfService": "https://seamless.ai/policies/terms-of-use"
  },
  "servers": [
    {
      "url": "https://api.seamless.ai/api/client/v1",
      "description": "Seamless API"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.seamless.ai/oauth/authorize",
            "tokenUrl": "https://api.seamless.ai/api/client/v1/oauth/accessToken",
            "scopes": {}
          }
        }
      },
      "webhookSecret": {
        "type": "apiKey",
        "description": "Webhook secret to verify the request is from Seamless",
        "name": "x-seamless-webhook-secret",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "OAuth",
      "tags": [
        "OAuth"
      ]
    },
    {
      "name": "Search",
      "tags": [
        "Contact Search",
        "Company Search"
      ]
    },
    {
      "name": "Research",
      "tags": [
        "Contact Research",
        "Company Research"
      ]
    },
    {
      "name": "Org Contacts/Companies",
      "tags": [
        "Org Contacts",
        "Org Companies"
      ]
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "summary": "Get Org Companies",
        "description": "Get a list of companies from your orgs",
        "operationId": "getCompanies",
        "tags": [
          "Org Companies"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve.",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results per page.",
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 500,
              "example": 100
            }
          },
          {
            "name": "startDate",
            "required": true,
            "in": "query",
            "description": "An ISO8601 date time string that defines the start date of the lookback period to return results from.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01T10:00:00Z"
            }
          },
          {
            "name": "endDate",
            "required": true,
            "in": "query",
            "description": "An ISO8601 date time string that defines the end date of the lookback period to return results from.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01T11:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "A list of companies from your orgs",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "advertisingIntelligenceUrl": {
                            "type": "string"
                          },
                          "alexaScoreUrl": {
                            "type": "string"
                          },
                          "annualRevenue": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "string"
                          },
                          "phonesAiScores": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "example": "2024-04-21T14:30:00.000Z"
                          },
                          "description": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "employeeReviewsUrl": {
                            "type": "string"
                          },
                          "foundedOn": {
                            "type": "string"
                          },
                          "googleFinanceUrl": {
                            "type": "string"
                          },
                          "googleResearchUrl": {
                            "type": "string"
                          },
                          "industries": {
                            "type": "string"
                          },
                          "intelUrl": {
                            "type": "string"
                          },
                          "jobPostingsUrl": {
                            "type": "string"
                          },
                          "linkedInProfileUrl": {
                            "type": "string"
                          },
                          "linkedInId": {
                            "type": "string"
                          },
                          "localSportsTeamsUrl": {
                            "type": "string"
                          },
                          "localWeatherUrl": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "street1": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryAbbr": {
                                "type": "string"
                              },
                              "countryAlpha2": {
                                "type": "string"
                              },
                              "countryAlpha3": {
                                "type": "string"
                              },
                              "fullString": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "newsUrl": {
                            "type": "string"
                          },
                          "paidSearchIntelligenceUrl": {
                            "type": "string"
                          },
                          "paidSearchKeywordsIntelligenceUrl": {
                            "type": "string"
                          },
                          "revenueRange": {
                            "type": "string"
                          },
                          "searchMarketingIntelligenceUrl": {
                            "type": "string"
                          },
                          "secFilingsUrl": {
                            "type": "string"
                          },
                          "seoResearchUrl": {
                            "type": "string"
                          },
                          "sicCode": {
                            "type": "string"
                          },
                          "similarWebsitesUrl": {
                            "type": "string"
                          },
                          "socialMediaMentionsUrl": {
                            "type": "string"
                          },
                          "socialMediaPostsUrl": {
                            "type": "string"
                          },
                          "socialPostsUrl": {
                            "type": "string"
                          },
                          "staffCount": {
                            "type": "string"
                          },
                          "staffCountRange": {
                            "type": "string"
                          },
                          "topTechnologies": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "example": "2024-04-21T14:30:00.000Z"
                          },
                          "webTechnologiesUrl": {
                            "type": "string"
                          },
                          "websiteAuditUrl": {
                            "type": "string"
                          },
                          "websiteAudit2Url": {
                            "type": "string"
                          },
                          "websiteGraderUrl": {
                            "type": "string"
                          },
                          "whoisUrl": {
                            "type": "string"
                          },
                          "wikipediaUrl": {
                            "type": "string"
                          },
                          "yahooFinanceUrl": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "summary": "Get Org Contacts",
        "description": "Get a list of contacts from your orgs",
        "operationId": "getContacts",
        "tags": [
          "Org Contacts"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve.",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results per page.",
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 500,
              "example": 100
            }
          },
          {
            "name": "startDate",
            "required": true,
            "in": "query",
            "description": "An ISO8601 date time string that defines the start date of the lookback period to return results from.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01T10:00:00Z"
            }
          },
          {
            "name": "endDate",
            "required": true,
            "in": "query",
            "description": "An ISO8601 date time string that defines the end date of the lookback period to return results from.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01T11:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "A list of contacts from your orgs",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "middleName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameOriginal": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "personalEmail": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "contactPhone1": {
                            "type": "string"
                          },
                          "contactPhone1DataType": {
                            "type": "string"
                          },
                          "contactPhone1TotalAI": {
                            "type": "string"
                          },
                          "companyPhone1": {
                            "type": "string"
                          },
                          "companyPhone1DataType": {
                            "type": "string"
                          },
                          "companyPhone1TotalAI": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "companyOriginal": {
                            "type": "string"
                          },
                          "companyIndustry": {
                            "type": "string"
                          },
                          "companyStaffCount": {
                            "type": "integer"
                          },
                          "companyStaffCountRange": {
                            "type": "string"
                          },
                          "companyAnnualRevenue": {
                            "type": "string"
                          },
                          "companyDomain": {
                            "type": "string"
                          },
                          "companyRevenueRange": {
                            "type": "string"
                          },
                          "companyLIProfileUrl": {
                            "type": "string"
                          },
                          "companyLinkedInId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "lIProfileUrl": {
                            "type": "string"
                          },
                          "lISalesNavUrl": {
                            "type": "string"
                          },
                          "lIRecruiterUrl": {
                            "type": "string"
                          },
                          "contactLocation": {
                            "type": "object",
                            "properties": {
                              "street1": {
                                "type": "string"
                              },
                              "street2": {
                                "type": "string"
                              },
                              "street3": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "county": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "stateAbbr": {
                                "type": "string"
                              },
                              "countryAbbr": {
                                "type": "string"
                              },
                              "countryAlpha2": {
                                "type": "string"
                              },
                              "countryAlpha3": {
                                "type": "string"
                              },
                              "countryNumeric": {
                                "type": "string"
                              },
                              "fullString": {
                                "type": "string"
                              }
                            }
                          },
                          "companyLocation": {
                            "type": "object",
                            "properties": {
                              "street1": {
                                "type": "string"
                              },
                              "street2": {
                                "type": "string"
                              },
                              "street3": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "county": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "stateAbbr": {
                                "type": "string"
                              },
                              "countryAbbr": {
                                "type": "string"
                              },
                              "countryAlpha2": {
                                "type": "string"
                              },
                              "countryAlpha3": {
                                "type": "string"
                              },
                              "countryNumeric": {
                                "type": "string"
                              },
                              "fullString": {
                                "type": "string"
                              }
                            }
                          },
                          "website": {
                            "type": "string"
                          },
                          "email1": {
                            "type": "string"
                          },
                          "email1Selected": {
                            "type": "boolean"
                          },
                          "email1TotalAI": {
                            "type": "string"
                          },
                          "email1EmailAI": {
                            "type": "string"
                          },
                          "email2": {
                            "type": "string"
                          },
                          "email2TotalAI": {
                            "type": "string"
                          },
                          "email2EmailAI": {
                            "type": "string"
                          },
                          "email3": {
                            "type": "string"
                          },
                          "email3TotalAI": {
                            "type": "string"
                          },
                          "email3EmailAI": {
                            "type": "string"
                          },
                          "jobHistory": {
                            "type": "array",
                            "description": "Contact's job history (requires Job Changes feature flag access)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "companyName": {
                                  "type": "string",
                                  "description": "Company name for this job"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Job title/position"
                                },
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the contact started this job"
                                },
                                "endedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the contact ended this job (null for current job)"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/accessToken": {
      "post": {
        "summary": "Get an access token",
        "operationId": "getAccessToken",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "Required if grant_type is authorization_code"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Required if grant_type is refresh_token"
                  }
                },
                "required": [
                  "clientId",
                  "clientSecret",
                  "redirectUri",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/companies": {
      "post": {
        "summary": "Search companies",
        "operationId": "searchCompanies",
        "tags": [
          "Company Search"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "description": "The page number to retrieve.",
                    "deprecated": true,
                    "type": "integer",
                    "default": 1,
                    "example": 1
                  },
                  "nextToken": {
                    "description": "The next token for pagination.",
                    "type": "string",
                    "default": null
                  },
                  "limit": {
                    "description": "The number of contacts per page.",
                    "type": "integer",
                    "default": 50,
                    "example": 50
                  },
                  "companyName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Company name search filter.",
                    "example": [
                      "Seamless AI"
                    ]
                  },
                  "companyNameSearchType": {
                    "description": "The type of search to perform on the company name.",
                    "type": "string",
                    "enum": [
                      "default",
                      "related",
                      "exact"
                    ],
                    "default": "default"
                  },
                  "companyDomain": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Company domain search filter.",
                    "example": []
                  },
                  "companyState": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Company state search filter.",
                    "example": []
                  },
                  "companyCountry": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Company country search filter.",
                    "example": []
                  },
                  "companyZipCode": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Company zipcode search filter.",
                    "example": []
                  },
                  "companyStreet": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Company street search filter.",
                    "example": []
                  },
                  "industry": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5,
                    "description": "Company industry search filter.",
                    "example": []
                  },
                  "companyKeyword": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Company keyword search filter.",
                    "example": []
                  },
                  "companySize": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "0 - 1 (Self-employed)",
                        "2 - 10",
                        "11 - 50",
                        "51 - 200",
                        "201 - 500",
                        "501 - 1,000",
                        "1,001 - 5,000",
                        "5,001 - 10,000",
                        "10,001+"
                      ]
                    },
                    "maxItems": 10,
                    "description": "Company size search filter.",
                    "example": []
                  },
                  "companyRevenue": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "$0 - $100K",
                        "$100K - $1M",
                        "$1M - $5M",
                        "$5M - $20M",
                        "$20M - $50M",
                        "$50M - $100M",
                        "$100M - $500M",
                        "$500M - $1B",
                        "$1B+"
                      ]
                    },
                    "maxItems": 10,
                    "description": "Company revenue search filter.",
                    "example": []
                  },
                  "technologies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Company technologies search filter.",
                    "example": []
                  },
                  "foundedOn": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Less than 1 Year",
                        "Last 1-3 Years",
                        "Last 4-10 Years",
                        "10+ Years"
                      ]
                    },
                    "description": "Range of years since the company was founded.",
                    "maxItems": 4,
                    "example": [
                      "Less than 1 Year",
                      "Last 1-3 Years"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company Search Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "A list of companies",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "goldCompanyId": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "liUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sicCode": {
                            "type": "integer"
                          },
                          "industries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "revenueRange": {
                            "type": "string"
                          },
                          "StaffCountRange": {
                            "type": "string"
                          },
                          "technologies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "linkedInId": {
                            "type": "string"
                          },
                          "companyLIProfileUrl": {
                            "type": "string"
                          },
                          "foundedOn": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    },
                    "supplementalData": {
                      "type": "object",
                      "properties": {
                        "isMore": {
                          "type": "boolean"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "perPage": {
                          "type": "integer"
                        },
                        "nextToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/contacts": {
      "post": {
        "summary": "Search contacts",
        "operationId": "searchContacts",
        "tags": [
          "Contact Search"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "description": "The page number to retrieve.",
                    "deprecated": true,
                    "type": "integer",
                    "default": 1,
                    "example": 1
                  },
                  "nextToken": {
                    "description": "The next token for pagination.",
                    "type": "string",
                    "default": null
                  },
                  "limit": {
                    "description": "The number of contacts per page.",
                    "type": "integer",
                    "default": 50,
                    "example": 50
                  },
                  "companyName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Contact company name search filter.",
                    "example": [
                      "Seamless.AI"
                    ]
                  },
                  "companyNameSearchType": {
                    "description": "The type of search to perform on the company name.",
                    "type": "string",
                    "enum": [
                      "default",
                      "related",
                      "exact"
                    ],
                    "default": "default"
                  },
                  "companyDomain": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Contact company domain search filter.",
                    "example": []
                  },
                  "contactState": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Contact or Company state search filter.",
                    "example": []
                  },
                  "contactCountry": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Contact or Company country search filter.",
                    "example": []
                  },
                  "contactZipCode": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Contact or Company zipcode search filter.",
                    "example": []
                  },
                  "locationType": {
                    "type": "string",
                    "enum": [
                      "bothOR",
                      "bothAND",
                      "company",
                      "contact"
                    ],
                    "description": "You can search by contacts’ location(contact), the companies’ location(company), both Contact And company(bothAND), or both contact Or company(bothOR).",
                    "default": "bothOR",
                    "example": "bothOR"
                  },
                  "department": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Sales",
                        "Marketing",
                        "Engineering",
                        "Human Resources",
                        "Finance",
                        "IT",
                        "Engineering",
                        "Operations",
                        "Support",
                        "Legal",
                        "Project Management",
                        "Other"
                      ]
                    },
                    "maxItems": 5,
                    "description": "Contact department search filter.",
                    "example": []
                  },
                  "industry": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5,
                    "description": "Contact industry search filter.",
                    "example": []
                  },
                  "fullname": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Contact fullname search filter.",
                    "example": []
                  },
                  "contactKeyword": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Contact keyword search filter.",
                    "example": []
                  },
                  "jobTitle": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Contact job title search filter.",
                    "example": []
                  },
                  "seniority": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "C-Level",
                        "VP",
                        "Director",
                        "Manager",
                        "Senior",
                        "Entry Level",
                        "Mid-Level",
                        "Other"
                      ]
                    },
                    "maxItems": 5,
                    "description": "Contact seniority search filter.",
                    "example": []
                  },
                  "companyFoundedOn": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Less than 1 Year",
                        "Last 1-3 Years",
                        "Last 4-10 Years",
                        "10+ Years"
                      ]
                    },
                    "description": "Range of years since the company was founded.",
                    "maxItems": 4,
                    "example": [
                      "Less than 1 Year",
                      "Last 1-3 Years"
                    ]
                  },
                  "jobChanges": {
                    "type": "object",
                    "description": "Job changes search filter (requires Job Changes license)",
                    "default": null,
                    "nullable": true,
                    "properties": {
                      "changeType": {
                        "description": "The type of job change to use in search.",
                        "type": "string",
                        "enum": [
                          "New Company",
                          "New Title",
                          "New Company and Job Title"
                        ]
                      },
                      "dayRange": {
                        "description": "The number of days to look back for job changes.",
                        "type": "string",
                        "enum": [
                          "Last 30 Days",
                          "Last 90 Days",
                          "Last 150 Days",
                          "Last 365 Days"
                        ]
                      }
                    }
                  },
                  "lastModifiedAfter": {
                    "description": "Filter on the lastModifiedAt(The last time the name, title, company, phone, or email changed).",
                    "type": "string",
                    "format": "date",
                    "example": "2025-09-01T11:00:00Z"
                  },
                  "lastModifiedBefore": {
                    "description": "Filter on the lastModifiedAt(The last time the name, title, company, phone, or email changed).",
                    "type": "string",
                    "format": "date",
                    "example": "2025-09-07T11:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact Search Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "A list of contacts",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "searchResultId": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "department": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "liUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "seniority": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "companyLIProfileUrl": {
                            "type": "string"
                          },
                          "sicCode": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "integer"
                          },
                          "startedAtCurrentCompany": {
                            "type": "string"
                          },
                          "titleStartedAt": {
                            "type": "string"
                          },
                          "companyFoundedOn": {
                            "type": "string",
                            "format": "date"
                          },
                          "lastModifiedAt": {
                            "description": "The last time the name, title, company, phone, or email changed.",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "supplementalData": {
                      "type": "object",
                      "properties": {
                        "isMore": {
                          "type": "boolean"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "perPage": {
                          "type": "integer"
                        },
                        "nextToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/research": {
      "post": {
        "summary": "Research companies",
        "description": "Research companies by searchResultId from company search results",
        "operationId": "researchCompanies",
        "tags": [
          "Company Research"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchResultIds": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    }
                  },
                  "companies": {
                    "description": "Must include one of the following properties:\n- domain\n- companyName\n",
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "domain": {
                          "type": "string"
                        },
                        "companyName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request IDs for research",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/research/poll": {
      "get": {
        "summary": "Poll Company Research",
        "description": "Get the results/status of a company research",
        "operationId": "pollCompanyResearchResults",
        "tags": [
          "Company Research"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "requestIds",
            "required": true,
            "in": "query",
            "description": "The id of the research request.",
            "example": "1,2,3,4,5",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 100,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Poll Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "results": {
                          "type": "array",
                          "description": "Company research data",
                          "items": {
                            "type": "object",
                            "properties": {
                              "advertisingIntelligenceUrl": {
                                "type": "string"
                              },
                              "alexaScoreUrl": {
                                "type": "string"
                              },
                              "annualRevenue": {
                                "type": "string"
                              },
                              "phones": {
                                "type": "string"
                              },
                              "phonesAiScores": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2024-04-21T14:30:00.000Z"
                              },
                              "description": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "employeeReviewsUrl": {
                                "type": "string"
                              },
                              "foundedOn": {
                                "type": "string"
                              },
                              "googleFinanceUrl": {
                                "type": "string"
                              },
                              "googleResearchUrl": {
                                "type": "string"
                              },
                              "industries": {
                                "type": "string"
                              },
                              "intelUrl": {
                                "type": "string"
                              },
                              "jobPostingsUrl": {
                                "type": "string"
                              },
                              "linkedInProfileUrl": {
                                "type": "string"
                              },
                              "linkedInId": {
                                "type": "string"
                              },
                              "localSportsTeamsUrl": {
                                "type": "string"
                              },
                              "localWeatherUrl": {
                                "type": "string"
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "street1": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postCode": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "countryAbbr": {
                                    "type": "string"
                                  },
                                  "countryAlpha2": {
                                    "type": "string"
                                  },
                                  "countryAlpha3": {
                                    "type": "string"
                                  },
                                  "fullString": {
                                    "type": "string"
                                  }
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "newsUrl": {
                                "type": "string"
                              },
                              "paidSearchIntelligenceUrl": {
                                "type": "string"
                              },
                              "paidSearchKeywordsIntelligenceUrl": {
                                "type": "string"
                              },
                              "revenueRange": {
                                "type": "string"
                              },
                              "searchMarketingIntelligenceUrl": {
                                "type": "string"
                              },
                              "secFilingsUrl": {
                                "type": "string"
                              },
                              "seoResearchUrl": {
                                "type": "string"
                              },
                              "sicCode": {
                                "type": "string"
                              },
                              "similarWebsitesUrl": {
                                "type": "string"
                              },
                              "socialMediaMentionsUrl": {
                                "type": "string"
                              },
                              "socialMediaPostsUrl": {
                                "type": "string"
                              },
                              "socialPostsUrl": {
                                "type": "string"
                              },
                              "staffCount": {
                                "type": "string"
                              },
                              "staffCountRange": {
                                "type": "string"
                              },
                              "topTechnologies": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2024-04-21T14:30:00.000Z"
                              },
                              "webTechnologiesUrl": {
                                "type": "string"
                              },
                              "websiteAuditUrl": {
                                "type": "string"
                              },
                              "websiteAudit2Url": {
                                "type": "string"
                              },
                              "websiteGraderUrl": {
                                "type": "string"
                              },
                              "whoisUrl": {
                                "type": "string"
                              },
                              "wikipediaUrl": {
                                "type": "string"
                              },
                              "yahooFinanceUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/research": {
      "post": {
        "summary": "Research contacts",
        "description": "Research contacts by searchResultId from contact search results or Contact enrich",
        "operationId": "researchContacts",
        "tags": [
          "Contact Research"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "examples": {
                "searchResultIds": {
                  "summary": "Contact research via searchResultIds",
                  "value": {
                    "searchResultIds": [
                      "searchResultId1",
                      "searchResultId2"
                    ]
                  }
                },
                "contacts": {
                  "summary": "Contact research via contacts",
                  "value": {
                    "contacts": [
                      {
                        "contactName": "John Doe",
                        "companyName": "Acme Corp"
                      }
                    ]
                  }
                },
                "jobChanges": {
                  "summary": "Contact research with job changes",
                  "value": {
                    "isJobChange": true,
                    "contacts": [
                      {
                        "contactName": "John Doe",
                        "companyName": "Acme Corp"
                      },
                      {
                        "contactName": "Jane Doe",
                        "companyName": "Acme Corp",
                        "title": "Software Engineer"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "searchResultIds": {
                    "type": "array",
                    "description": "The search result IDs to research",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    }
                  },
                  "isJobChange": {
                    "type": "boolean"
                  },
                  "contacts": {
                    "description": "Contact enrich, must include one of the following properties:\n- contactName and companyName (optional title for Job Changes)\n- contactName and domain\n- email\n- liProfileUrl\n- liSalesNavUrl\n- liRecruiterUrl\n\nWhen isJobChange flag is set to true, searchResultIds should not be used.\n",
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "contactName": {
                          "type": "string"
                        },
                        "companyName": {
                          "type": "string"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "liProfileUrl": {
                          "type": "string"
                        },
                        "liSalesNavUrl": {
                          "type": "string"
                        },
                        "liRecruiterUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request IDs for research",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestIds": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/research/poll": {
      "get": {
        "summary": "Poll Contact Research",
        "description": "Get the results/status of a contact research request",
        "operationId": "pollContactsResearchResults",
        "tags": [
          "Contact Research"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "requestIds",
            "required": true,
            "in": "query",
            "description": "The id of the research request.",
            "example": "1,2,3,4,5",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 100,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Poll Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "requestId": {
                            "type": "string"
                          },
                          "searchResultId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "username": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "middleName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nameOriginal": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "personalEmail": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "contactPhone1": {
                                "type": "string"
                              },
                              "contactPhone1DataType": {
                                "type": "string"
                              },
                              "contactPhone1TotalAI": {
                                "type": "string"
                              },
                              "companyPhone1": {
                                "type": "string"
                              },
                              "companyPhone1DataType": {
                                "type": "string"
                              },
                              "companyPhone1TotalAI": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "companyOriginal": {
                                "type": "string"
                              },
                              "companyIndustry": {
                                "type": "string"
                              },
                              "companyStaffCount": {
                                "type": "integer"
                              },
                              "companyStaffCountRange": {
                                "type": "string"
                              },
                              "companyAnnualRevenue": {
                                "type": "string"
                              },
                              "companyDomain": {
                                "type": "string"
                              },
                              "companyRevenueRange": {
                                "type": "string"
                              },
                              "companyLIProfileUrl": {
                                "type": "string"
                              },
                              "companyLinkedInId": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "lIProfileUrl": {
                                "type": "string"
                              },
                              "lISalesNavUrl": {
                                "type": "string"
                              },
                              "lIRecruiterUrl": {
                                "type": "string"
                              },
                              "contactLocation": {
                                "type": "object",
                                "properties": {
                                  "street1": {
                                    "type": "string"
                                  },
                                  "street2": {
                                    "type": "string"
                                  },
                                  "street3": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postCode": {
                                    "type": "string"
                                  },
                                  "county": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "stateAbbr": {
                                    "type": "string"
                                  },
                                  "countryAbbr": {
                                    "type": "string"
                                  },
                                  "countryAlpha2": {
                                    "type": "string"
                                  },
                                  "countryAlpha3": {
                                    "type": "string"
                                  },
                                  "countryNumeric": {
                                    "type": "string"
                                  },
                                  "fullString": {
                                    "type": "string"
                                  }
                                }
                              },
                              "companyLocation": {
                                "type": "object",
                                "properties": {
                                  "street1": {
                                    "type": "string"
                                  },
                                  "street2": {
                                    "type": "string"
                                  },
                                  "street3": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postCode": {
                                    "type": "string"
                                  },
                                  "county": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "stateAbbr": {
                                    "type": "string"
                                  },
                                  "countryAbbr": {
                                    "type": "string"
                                  },
                                  "countryAlpha2": {
                                    "type": "string"
                                  },
                                  "countryAlpha3": {
                                    "type": "string"
                                  },
                                  "countryNumeric": {
                                    "type": "string"
                                  },
                                  "fullString": {
                                    "type": "string"
                                  }
                                }
                              },
                              "website": {
                                "type": "string"
                              },
                              "email1": {
                                "type": "string"
                              },
                              "email1Selected": {
                                "type": "boolean"
                              },
                              "email1TotalAI": {
                                "type": "string"
                              },
                              "email1EmailAI": {
                                "type": "string"
                              },
                              "email2": {
                                "type": "string"
                              },
                              "email2TotalAI": {
                                "type": "string"
                              },
                              "email2EmailAI": {
                                "type": "string"
                              },
                              "email3": {
                                "type": "string"
                              },
                              "email3TotalAI": {
                                "type": "string"
                              },
                              "email3EmailAI": {
                                "type": "string"
                              },
                              "jobHistory": {
                                "type": "array",
                                "description": "Contact's job history (requires Job Changes feature flag access)",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "companyName": {
                                      "type": "string",
                                      "description": "Company name for this job"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Job title/position"
                                    },
                                    "startedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "When the contact started this job"
                                    },
                                    "endedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "When the contact ended this job (null for current job)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "description": "A human readable error message",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Insufficient credits or missing license",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Insufficient credits or missing license",
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productCategory": {
                          "type": "string"
                        },
                        "additionalCreditsNeeded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
